<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


	<typeAliases>
		<!-- FRAMEWORK -->
		<typeAlias alias="IndicadorAlias"               type="com.siis.dto.Indicador" />
		<typeAlias alias="UsuarioAlias"                 type="com.siis.dto.Usuario" />
		<typeAlias alias="ClienteAlias"                 type="com.siis.dto.Cliente" />
		<typeAlias alias="CarteraAlias"                 type="com.siis.dto.Cartera" />
		<typeAlias alias="DetalleCarteraAlias"          type="com.siis.dto.DetalleCartera" />
		<typeAlias alias="PersonaAlias"                 type="com.siis.dto.Persona" />
		<typeAlias alias="DisponibleAlias"              type="com.siis.dto.Disponible" />
		<typeAlias alias="BancoAlias"                   type="com.siis.dto.Banco" />
		<typeAlias alias="CuentaAlias"                  type="com.siis.dto.Cuenta" />
		<typeAlias alias="DisponibleBancoAlias"         type="com.siis.dto.DisponibleBanco" />
		<typeAlias alias="DisponibleConceptoAlias"      type="com.siis.dto.DisponibleConcepto" />
		<typeAlias alias="CreditoAlias"                 type="com.siis.dto.Credito" />
		<typeAlias alias="AmortizacionCreditoAlias"     type="com.siis.dto.AmortizacionCredito" />
		<typeAlias alias="ProyectoAlias"                type="com.siis.dto.Proyecto" />
		<typeAlias alias="ProyectoValorAlias"           type="com.siis.dto.ProyectoValor" />
		<typeAlias alias="ProyectoContratoAlias"        type="com.siis.dto.ProyectoContrato" />
		<typeAlias alias="IndicadorAlias"               type="com.siis.dto.Indicador" />
		<typeAlias alias="FormulacionAlias"             type="com.siis.dto.Formulacion" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://cuentosinfantiles.com.co:3306/cuentosi_siis" />
				<property name="username" value="cuentosi_root" />
				<property name="password" value="abc123.." />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/siis/dto/xml/Indicador.xml" />
		<mapper resource="com/siis/dto/xml/Usuario.xml" />
	    <mapper resource="com/siis/dto/xml/Cliente.xml" />
	    <mapper resource="com/siis/dto/xml/Cartera.xml" />
	    <mapper resource="com/siis/dto/xml/Persona.xml" />
	    <mapper resource="com/siis/dto/xml/DetalleCartera.xml" />
	    <mapper resource="com/siis/dto/xml/Disponible.xml" />
	    <mapper resource="com/siis/dto/xml/Banco.xml" />
	    <mapper resource="com/siis/dto/xml/Cuenta.xml" />
	    <mapper resource="com/siis/dto/xml/DisponibleBanco.xml" />
	    <mapper resource="com/siis/dto/xml/DisponibleConcepto.xml" />
	    <mapper resource="com/siis/dto/xml/Credito.xml" />
	    <mapper resource="com/siis/dto/xml/AmortizacionCredito.xml" />
	    <mapper resource="com/siis/dto/xml/Proyecto.xml" />
	    <mapper resource="com/siis/dto/xml/ProyectoValor.xml" />
	    <mapper resource="com/siis/dto/xml/ProyectoContrato.xml" />
	    <mapper resource="com/siis/dto/xml/Indicador.xml" />
	    <mapper resource="com/siis/dto/xml/Formulacion.xml" />
	</mappers>
</configuration>
