<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


	<typeAliases>
		<!-- FRAMEWORK -->
		<typeAlias alias="IndicadorAlias"               type="com.siis.dto.Indicador" />
		<typeAlias alias="UsuarioAlias"                 type="com.siis.dto.Usuario" />
		<typeAlias alias="ClienteAlias"                 type="com.siis.dto.Cliente" />
		<typeAlias alias="CarteraAlias"                 type="com.siis.dto.Cartera" />
		<typeAlias alias="DetalleCarteraAlias"          type="com.siis.dto.DetalleCartera" />
		<typeAlias alias="PersonaAlias"                 type="com.siis.dto.Persona" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://itservice-ch6urhje.cloudapp.net:3306/phpmyadmin/siis" />
				<property name="username" value="root" />
				<property name="password" value="abc123$" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/siis/dto/xml/Indicador.xml" />
		<mapper resource="com/siis/dto/xml/Usuario.xml" />
	    <mapper resource="com/siis/dto/xml/Cliente.xml" />
	    <mapper resource="com/siis/dto/xml/Cartera.xml" />
	    <mapper resource="com/siis/dto/xml/DetalleCartera.xml" />
	  
	</mappers>
</configuration>
